body{
  background-color: #9fc8e2;
  font-size: 24px;
  padding: 16px;
  color: rgba(0, 0, 0, 0.75);
  font-family: sans-serif;
}

  .mainTable {
    margin: auto;
    margin-top: 40px;
  }

  .albumArt {
    max-width: 80px;
    height: auto;
  }

.pleaseRegister {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* play button styles */

.playButton {
  margin: auto;
  width: 100%;
  display: block;
  font-size: 300%;

}

.playButton:hover {
  background-color: #666;
}

.playButton:active {
  background-color: #668;
  transform: translateY(4px);
}

/* buy album styles */

button.buyButton {
    display: inline-block;
    padding:1em 1em;
    border:0.16em solid #FFFFFF;
    box-sizing: border-box;
    width: 25%;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:800;
    font-size: larger;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
  }
 button.buyButton:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
  }
  button.buyButton:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
  }
 

  .songContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."; 
    width: 100%; 
    height: 100%; 
    padding-top: 40px;
  }
  .buyAlbumButtonContainer {
    display: block;
    text-align: center;
    padding-top: 10px;
  }

  .albumNotice {
    width: 100%;
    font-size: smaller;
    text-align: center;
  }

  .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 140px;

    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    -ms-transform:scale(0.75);
    transform:scale(0.75);
   
  }

    td, tr {
    width: 100%;
    border: solid 4px  rgb(27, 115, 174);;
    border-collapse: collapse;
    border-spacing: 2px;
    padding: 20px;
    text-align: center;
  }

  tr.noBorder th {
    border: 0;
    
  }



  .getBalance {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }



  #stat1 {
    display: flex;
    width: 100%;
    font-weight: bold;
  }

  #stat2 {
    font-weight: bold;
  }


  





  
  
  
  